{%- render 'script-tags', section_name: 'image-with-text' -%}
{%- capture spacing_classes -%}
 margin-top--{{ section.settings.margin_top_mobile }}
 margin-top-desktop--{{ section.settings.margin_top_desktop }}
 margin-bottom--{{ section.settings.margin_bottom_mobile }}
 margin-bottom-desktop--{{ section.settings.margin_bottom_desktop }}
{%- endcapture -%}

{%- liquid
  capture visibility_class
    unless section.settings.enable_mobile
      echo 'hide--small-down'
    endunless
    unless section.settings.enable_desktop
      echo ' hide--small-up'
    endunless
  endcapture
-%}

<section class="image-with-text{% if section.settings.layout == 'right' %} reverse{% endif %} {{ spacing_classes | strip_newlines }} {{ visibility_class | strip }}" data-section-id="{{ section.id }}" data-section-type="image-with-text">
  <div class="container container--fluid">
    <div class="image-with-text__image">
      {% if section.settings.image_link != blank %}<a href="{{ section.settings.image_link }}">{% endif %}
        {% liquid
          assign img_alt = section.settings.title
          if img_alt == blank
            assign img_alt = "Image with Text"
          endif
          assign img_alt = img_alt | append: " " | append: forloop.index
          assign img_alt = img_alt | capitalize
        %}
        {%- render 'component-image',
          image: section.settings.image,
          aspect_ratio: 'natural',
          max_width: 1600,
          sizes: '(min-width: 48rem) 50vw, 100vw',
          img_alt: img_alt
        -%}
      {% if section.settings.image_link != blank %}</a>{% endif %}
    </div>

    <div class="image-with-text__text">
      <div class="image-with-text__text-inner">
        {%- if section.settings.title != blank -%}
          <h2 class="h5">{{ section.settings.title | escape }}</h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="rte">
            {{ section.settings.text }}
          </div>
        {%- endif -%}

        {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
          <a href="{{ section.settings.button_link }}" 
            {% if section.settings.button_id %}
              id="{{ section.settings.button_id }}"
            {% endif %}
            class="btn btn--text"
          >
            {{ section.settings.button_label | escape }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<style>
#shopify-section-{{ section.id }} {
  {%- if section.settings.background_color != blank -%}
    background-color: {{ section.settings.background_color }};
  {%- endif -%}
  {%- if section.settings.text_color != blank -%}
    color: {{ section.settings.text_color }};
  {%- endif -%}
}

{% if section.settings.text_color != blank %}
  #shopify-section-{{ section.id }} .section__title {
    color: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} a,
  #shopify-section-{{ section.id }} a:hover {
    color: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} a:after {
    background-color: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} .btn--text {
    border-bottom-color: {{ section.settings.text_color }};
  }
{%- endif -%}
</style>

{% schema %}
  {
    "name": "Image with Text",
    "settings": [
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_mobile",
        "label": "Show on mobile",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Recommended size 1600px x 2132px (portrait), or 1600px x 1600px (square)"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Image link"
      },
      {
        "type": "header",
        "content": "Text Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "info": "Optional"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "text",
        "id": "button_id",
        "label": "Button ID"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Top margin - mobile",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "xxxl",
            "label": "Extra Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_top_desktop",
        "label": "Top margin - desktop",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "xxxl",
            "label": "Extra Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Bottom margin - mobile",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "xxxl",
            "label": "Extra Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom_desktop",
        "label": "Bottom margin - desktop",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "xxxl",
            "label": "Extra Large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with Text"
      }
    ]
  }
{% endschema %}
